:root {
    --border-radius: 9999999999999999px /* making sure with all the 9s*/
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.time-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.centered-div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:var(--border-radius);
    border-color: black;
    visibility: visible;
    border-style: solid;
    width: clamp(30rem,40rem,45rem);
    height: clamp(30rem,40rem,45rem);
}
.time-starter,
.pause-btn,
.reset-btn{
    border-style: 2px solid;
    border-color: black;
    border-radius: 25px;
    background-color: white;
    width: clamp(8rem,10rem,12rem);
    height: clamp(3rem,4rem,5rem);
}
.time{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 40%; /* otherwise the 2nd number gets cut*/
    font-size: clamp(10rem,12rem,15rem);
    border: none;
    overflow: visible;
}
.time:focus{
    border: 2px solid;
}
.two-dots{
    font-size: clamp(10rem,12rem,15rem);
}

.outer-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(30rem,40rem,45rem);
    height: clamp(30rem,40rem,45rem);
    border: 2px solid black;
    border-radius: var(--border-radius);
}
.inner-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(28rem,38rem,43rem);
    height: clamp(28rem,38rem,43rem);
    border: 2px solid black;
    border-radius: var(--border-radius);
}

.progress-bar{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
    z-index: 1;
}
.progress-fill {
    position: absolute;
    right: 0;
    background: #ffffff;
    transform-origin: left center;
    transform: rotate(0deg);
    transition: transform 0.5s linear;
}